@model JobApplication_software_design.Models.InPersonInterview

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InPersonInterview</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interview)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interview.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobApplication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobApplication.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneInterviewId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneInterviewId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InPersonInterviewId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InPersonInterviewId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
